.App {
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}



.card {
  display: inline-block;
  width: 150px;
  height: 200px;
  border: 1px solid #333;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card.disabled {
  background-color: #ccc; /* Greyed out */
  cursor: not-allowed;
}

.card.selectable {
  background-color: #fff; /* Regular state */
  cursor: pointer;
}

.card:hover.selectable {
  background-color: #f0f0f0; /* Hover effect when selectable */
}



p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}